{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ parent() }}{{ 'Edit Timetable Column'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'Edit Timetable Column'|trans }}{% endblock headerTitle %}
{% block headerLead %}{% endblock headerLead %}

{% block contentContainer %}
    <div style="width: 100%; background-color: deeppink; vertical-align: center;">
        <h3 class="text-center align-self-center">{{ 'Collecting data. Please be patient...'|trans({}, 'System') }}</h3>
    </div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {{ toggle_script() }}
    {{ renderForm(form, manager, 'columnTemplate')|raw }}
{% endblock javascripts %}
