{% set translation = translation|default('System') %}

{% trans_default_domain translation %}

{{ setTabManager(tabManager) }}

<div id="formTabs">
    <ul class="nav nav-pills" role="tablist">
        {% set active = ' active' %}
        {% for tab in getTabs() %}
            {% set name = tab.name %}
            {% if tab.display is same as(true) or tabManager.display(tab.display) %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                {% set disabled = '' %}
                {% set label_params = tab.label_params|default({}) %}
                <li class="nav-item" role="presentation">
                    <a href="#{{ safeName(name) }}" role="tab" data-toggle="tab" class="nav-link{{ disabled }}{{ active }}">{% if not translation %}{{ tab.label }}{% else %}{{ tab.label|trans(label_params, translation) }}{% endif %}</a>
                </li>
                {% set active = '' %}
            {% endif %}
        {% endfor %}
    </ul>
    {% set active = ' active' %}
    <div class="tab-content">
        {% for tab in getTabs() %}
            {% set name = tab.name %}
            {% if tab.display is same as(true) or tabManager.display(tab.display) %}
                {% if tab.translation is defined %}{% set translation = tab.translation %}{% endif %}
                <div class="tab-pane{{ active }}" id="{{ safeName(name) }}">
                    {% if tab.message is defined %}
                        <div class="container-fluid">
                            <div class='row' id="{{ tab.message }}" style="display: none;">
                            </div>
                        </div>
                    {% endif %}
                    {% if tab.with is defined %}
                        {% include tab.include with tab.with %}
                    {% else %}
                        {% include tab.include %}
                    {% endif %}
                </div>
                {% set active = '' %}
            {% else %}
                {% include tab.include with {'hiddenRender': true} %}
            {% endif %}
        {% endfor %}
    </div>
</div>

