{% trans_default_domain "Template" %}

{% extends 'Default/headerNotice.html.twig' %}

{% set fullPage = fullPage|default(false) %}
{% set alwaysFullPage = false %}
{% if fullPage %}{% set alwaysFullPage = true %}{% endif %}
{% set headerOff = headerOff|default(false) %}
{% set templateName = getThemeName() %}

{% block htmlContent %}
    <!DOCTYPE html >
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{{ getSetting('org.name.long', 'Busybee Institute') }} -  on Busybee {% endblock title %}</title>

        {% block stylesheets %}
            {% include 'Default/style.html.twig' %}
        {% endblock stylesheets %}
    </head>

    <body>


    {% if app.request.get('closeWindow') is not empty %}
        {% set fullPage = true %}
        {% set headerOff = true %}
    {% endif %}


    {% if not(headerOff) %}
        {% block menuContainer %}
            {% include 'Menu/main-menu.html.twig' %}
        {% endblock menuContainer %}
    {% endif %}

    {% if not(fullPage) %}
        {% set sections = getSection() %}

        {% if sections is empty %}
            {% set fullPage = true %}
            {% set alwaysFullPage = true %}
        {% endif %}
    {% endif %}

    <div class="container theme-showcase" role="main"{% if headerOff is defined and headerOff %} style="margin-top: -50px;"{% endif %}>

        {% block titleContainer %}
            {% if not(headerOff is defined and headerOff) %}
                <div class="jumbotron hideSection{{ containerThemeOverwrite }}" id="titleContent">
                    <img src="{{ asset(getSetting('org.logo', 'build/static/images/bee.png')) }}" alt="Busybee" id="bee-logo"/>
                    <h2>{% block headerTitle %}Busybee - {{ getSetting('org.name.long') }}{% endblock headerTitle %}</h2>
                    <p class="lead">{% block headerLead %}{% endblock headerLead %}</p>
                    {% if headerNotices is not empty %}<p>{{ headerNotices|raw }}</p>{% endif %}
                </div>
            {% endif %}
        {% endblock titleContainer %}
            <div id="notificationBar"></div>
            {% if fullPage %}
                <div class="row">
                    <main class="col-12" id="contentContainer">
            {% else %}
                <div class="row">
                    <main class="col-9" id="contentContainer">
            {% endif %}
            {% block paginationContent %}<section id="paginationControl"></section>{% endblock paginationContent %}
            {% block flashMessages %}
                {% include 'Default/flash.html.twig' %}
            {% endblock flashMessages %}
            {% block contentContainer %}
                {{ 'No content'|trans }}
            {% endblock contentContainer %}

            {% if fullPage %}
                    </main>
                </div>
            {% else %}
                    </main>
                    <nav class="col-3 collapse show" id="sidebar">
                        <div id="sectionMenuContainer">
                            {% block sectionMenu %}
                                {% include 'Menu/section-menu.html.twig' %}
                            {% endblock sectionMenu %}
                        </div>
                    </nav>
            </div>
            {% endif %}
    </div> <!-- container -->

{% block footerContainer %}
    <div class="container theme-showcase" id="footerContainer">
        {{ include('Default/footer.html.twig') }}
    </div> <!-- /container footer -->
    <div class="showLoader" id="showLoader"><!-- Place at bottom of page --></div>
    <div id="showAlarm"><!-- Place at bottom of page --></div>
{% endblock footerContainer %}

{% block javascripts %}
    {% include "Default/scripts.html.twig" %}
{% endblock javascripts %}

    </body>
    </html>
{% endblock htmlContent %}
