{% trans_default_domain 'Person' %}

{% include 'Default/panelStart.html.twig' with {header: 'family.details.title', name: manager.entity.name, transDomain: 'Person', panelParagraph: '', panelStyle: 'info'} %}
<div class="row">
    <div class="col-4 card">
        {{ form_row(form.name) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.languageHomePrimary) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.languageHomeSecondary) }}
    </div>
</div>
<div class="row">
    <div class="col-6 card">
        <div class="form-group input-group{% if form.nameAddress.vars.errors|length > 0 %} has-danger{% endif %}">
            {{ form_widget(form.nameAddress) }}
            <div class="input-group-append">
                <span class="input-group-text" title="{{ 'Suggest a family name and address.'|trans }}" onclick="suggestFamilyName('{{ path('suggest_family_name', {id: form.vars.value.id}) }}')">{{ 'Suggest'|trans }}</span>
            </div>
            <div style="clear: both;">
                {{ form_label(form.nameAddress) }}
                {{ form_errors(form.nameAddress) }}
            </div>
        </div>
    </div>
    <div class="col-6 card">
        {{ form_row(form.status) }}
    </div>
</div>
<div class="row">
    <div class="col-5 card" id="phoneContent">
    </div>
    <div class="col-7 card" id="addressContent">
    </div>
</div>
{% include 'Default/panelEnd.html.twig' %}