{# src/Busybee/InstituteBundle/Resources/views/Calendar/term.html.twig #}

{% trans_default_domain "SchoolYear" %}

{% block school_year_term_label %}{% endblock %}
{% block school_year_term_errors %}{% endblock %}

{% block school_year_term_widget %}
    {% spaceless %}
            <div class="row">
                <div class="col-6 card">
                    <div class="row">
                        <div class="col-8">{{ form_widget(form.name) }}</div>
                        <div class="col-4">{{ form_widget(form.nameShort) }}</div>
                    </div>
                </div>
                <div class="col-3 card">
                    {{ form_widget(form.firstDay) }}
                </div>
                <div class="col-3 card">
                    {{ form_widget(form.lastDay) }}
                    {{ form_row(form.schoolYear, {'value': app.request.get('id')}) }}
                    {{ form_rest(form) }}
                </div>
            </div>
    {% endspaceless %}
{% endblock school_year_term_widget %}
