{% trans_default_domain "System" %}

{% block multiple_settings_label %}{% endblock %}
{% block multiple_settings_errors %}{% endblock %}

{% block multiple_settings_widget %}
    {% spaceless %}
        {% set columnA = '6' %}
        {% set columnB = '6' %}
        {% if form.vars.value is not empty and form.vars.value.hideParent is not empty and form.vars.value.hideParent != form.vars.value.name  %}
            {% set rowClass = 'row ' ~ camelCase(form.vars.value.hideParent ~ '_child') %}
        {% endif %}
        {% if 'hillrange_toggle' in form.value.vars.cache_key %}
            {% set columnA = '10' %}
            {% set columnB = '2' %}
            {% if form.vars.value is not empty and form.vars.value.hideParent is not empty  and form.vars.value.hideParent == form.vars.value.name %}
                {% set toggleClass = (form.value.vars.div_class|default('')) ~ ' ' ~ camelCase(form.vars.value.hideParent ~ '_parent') %}
                {% set rowClass = 'row' %}
            {% else %}
                {% set toggleClass = form.value.vars.div_class|default('') %}
            {% endif %}
        {% elseif 'ckeditor' in form.value.vars.cache_key %}
            {% set columnA = '3' %}
            {% set columnB = '9' %}
        {% endif %}

        {% set id = 'id=' ~ form.value.vars['id']|trim('_value') %}
        {% if '__nam' in id %}
            {% set id = '' %}
        {% endif %}

        {% if form.vars.value is not empty and form.vars.value.settingType is same as('system') %}
            <div class="{{ rowClass|default('row') }}" {{ id }}>
                <div class="col-{{ columnA }} card">
                    {{ form_label(form.value) }}
                    {{ form_errors(form.value) }}
                </div>
                <div class="col-{{ columnB }} card">
                    <div>
                        {{ form.value.vars.value }}<br/>
                        <span class="text-muted small"> {{ 'system.value.warning'|trans }}</span>
                        {{ form_widget(form.value) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="{{ rowClass|default('row') }}" {{ id }}>
                <div class="col-{{ columnA }} card">
                    {{ form_label(form.value) }}
                    {{ form_errors(form.value) }}
                </div>
                <div class="col-{{ columnB }} card">
                    <div{% if form.vars.value is not empty and form.vars.value.settingType is same as('multiChoice') %} style="min-height: {{ 22.5 * form.vars.value.setting.choice|length }}px;"{% endif %}>
                    {{ form_widget(form.value, {div_class: toggleClass|default('')}) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock multiple_settings_widget %}
