{% trans_default_domain "School" %}

{% block multiple_settings_label %}{% endblock %}
{% block multiple_settings_errors %}{% endblock %}

{% block multiple_settings_widget %}
    {% spaceless %}
        {% set columnA = '6' %}
        {% set columnB = '6' %}
        {% if 'hillrange_toggle' in form.value.vars.cache_key %}
            {% set columnA = '10' %}
            {% set columnB = '2' %}
        {% elseif 'ckeditor' in form.value.vars.cache_key %}
            {% set columnA = '4' %}
            {% set columnB = '8' %}
        {% endif %}
        <div class="row">
            <div class="col-{{ columnA }} card">
                {{ form_label(form.value) }}
                {{ form_errors(form.value) }}
            </div>
            <div class="col-{{ columnB }} card">
                <div>
                {{ form_widget(form.value) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock multiple_settings_widget %}
