{% trans_default_domain 'Person' %}

{% include 'Default/panelStart.html.twig' with {header: 'Enrolment: %name%', name: getFullName(), transDomain: 'Person', panelParagraph: '', panelStyle: 'info'} %}
<div class="container">
    <p class="alert alert-info">{{ 'The roll groups found are linked to the current school year that you are viewing.  Adding a new roll group will also link the to the current school year.'|trans }}</p>
</div>
<div class="container">
    <div class="row row-header small">
        <div class="col-4">
            {{ 'Year Group'|trans }}
        </div>
        <div class="col-4">
            {{ 'Roll Group'|trans }}
        </div>
        <div class="col-4 text-center">
            {{ 'Actions'|trans }}
        </div>
    </div>
    {{ collection_widget(form.currentEnrolments) }}
    <hr/>
</div>
<div class="container">
    <div class="row row-header small">
        <div class="col-4">
            {{ 'Course/Class Name'|trans }}
        </div>
        <div class="col-4 text-center">
            {{ 'Reportable?'|trans }}
        </div>
        <div class="col-4 text-center">
            {{ 'Actions'|trans }}
        </div>
    </div>
    {{ collection_widget(form.classListOfCurrentSchoolYear) }}
    <hr/>
</div>
<div class="row">
    <div class="col-12">
        <p>Teacher List Here @todo</p>
    </div>
</div>

{% include 'Default/panelEnd.html.twig' %}
