{% trans_default_domain 'Person' %}

{% include 'Default/panelStart.html.twig' with {header: 'system.access.title', name: getFullName(), transDomain: 'Person', panelParagraph: '', panelStyle: 'info'} %}
<div class="row">
    <div class="col-4 card">
        {{ form_row(form.primaryRole, {value: transformData(form.primaryRole)}) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.secondaryRoles) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.status) }}
    </div>
</div>
<div class="row">
    {% set canLogin = manager.isUser %}
    {% set canLoginParams = {value: canLogin, disabled: (not manager.canbeUser)} %}
    {% dump(canLoginParams) %}
    <div class="col-4 card">
        {{ form_row(form.canLogin, canLoginParams) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.forcePasswordReset, {disabled: (not manager.isUser)}) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.username, {disabled: (not manager.isUser)}) }}
    </div>
    {% do form.username.setRendered %}
    {% do form.forcePasswordReset.setRendered %}
</div>
{% include 'Default/panelEnd.html.twig' %}