{% trans_default_domain 'Installer' %}

{% extends 'Default/template.html.twig' %}

{% block menuContainer %}{% endblock menuContainer %}
{% block title %}Busybee Installer{% endblock title %}

{% block sectionMenu %}
<h2>{{ 'Welcome To Gibbon'|trans }}</h2>
<p style='padding-top: 7px'>
    {{ 'Created by teachers, Gibbon is the school platform which solves real problems faced by educators every day.'|trans }}<br/>
    <br/>
    {{ 'Free, open source and flexible, Gibbon can morph to meet the needs of a huge range of schools.'|trans }}<br/>
    <br/>
    {{ "For support, please visit <a target='_blank' href='https://gibbonedu.org/support'>gibbonedu.org</a>."|trans|raw }}
</p>
{% endblock sectionMenu %}

{% block  contentContainer %}
    <h2>{{ 'Installation - Step %{step}'|trans({'%{step}': (manager.step + 1)}) }}</h2>
    {% include 'Default/messages.html.twig' with {messages: manager.messageManager.addStatusMessages(manager.status, 'Installer')} %}
{% endblock  contentContainer %}