{% trans_default_domain 'Installer' %}

{% extends 'Default/template.html.twig' %}

{% set fullPage = false %}

{% form_theme form
    "@HillrangeForm/FormTheme/bootstrap.html.twig"
%}

{% block menuContainer %}{% endblock menuContainer %}
{% block title %}Busybee Installer{% endblock title %}
{% block headerTitle %}{{ 'installation.step'|trans({'%{step}': (manager.step + 1)}) }}{% endblock headerTitle %}
{% block sectionMenu %}
    {% include 'Installer/welcome.html.twig' %}
{% endblock sectionMenu %}

{% block contentContainer %}
    {{ form_start(form) }}
    {% set h3Content = saveButton() %}
    {% include 'Default/panelStart.html.twig' with {panelStyle: 'default', header: 'database.settings', transDomain: 'Installer'} %}
    {% include 'Default/messages.html.twig' with {messages: manager.messageManager.addStatusMessages(manager.status, 'Installer')} %}
    <div class="row row-striped">
        <div class="col-4 card">
            {{ form_row(form.driver) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.port) }}
            {{ form_row(form.host) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.prefix) }}
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-4 card">
            {{ form_row(form.name) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.user) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.pass) }}
        </div>
    </div>
    <div class="row row-striped">
        <div class="col-4 offset-4 card">
            {{ form_row(form.charset) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.demoData) }}
        </div>
    </div>
    {% include 'Default/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {% include '@HillrangeForm/Toggle/script.html.twig' %}
{% endblock javascripts %}