{% trans_default_domain "Menu" %}
{% if (menu.role is defined and is_granted(menu.role)) or menu.role is not defined %}
    {% if (menu.test is defined and testMenuItem(menu.test)) or menu.test is not defined %}
        {% if menuRequired(menu.menu) %}
            <li class="nav-item dropdown">
                {% set translate = 'System' %}{% if menu.translate is defined %}{% set translate = menu.translate %}{% endif %}
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenu{{ menu.label }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   >{{ menu.label|trans({}, translate) }}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu{{ menu.label }}">
                    {% for drop in getMenuItems(menu.menu) %}
                        {% if (drop.role is defined and is_granted(drop.role)) or drop.role is not defined %}
                            {% if (drop.test is defined and testMenuItem(drop.test)) or drop.test is not defined %}
                                {% if drop.menu is defined %}
                                    {% include 'Menu/submenu.html.twig' with {'menu': drop} %}
                                {% elseif drop.route is defined %}
                                    {% set translate = 'System' %}{% if drop.translate is defined %}{% set translate = drop.translate %}{% endif %}
                                    <li>
                                        <a href="{{ path(drop.route, drop.parameters) }}" class="dropdown-item" title="{{ drop.label|trans({}, translate) }}">{{ drop.label|trans({}, translate) }}</a>
                                    </li><!-- {{ drop.order }} -->
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li><!-- {{ menu.order }} -->
        {% endif %}
    {% endif %}
{% endif %}
