{% trans_default_domain 'School' %}


{% include 'Default/panelStart.html.twig' with {header: 'school.external_assessment.edit.title', name: form.vars.value.name, transDomain: 'School', colour: 'success'} %}

    <div class="container-fluid">
        <div class="row row-header small">
            <div class="col-4" style="display: inline-block;">
                   {{ 'external_assessment_field.name.label'|trans }}
            </div>
            <div class="col-5">
                {{ 'external_assessment_field.category.label'|trans({}) }}
            </div>
            <div class="col-3 text-center">
                {{ 'actions'|trans({}, 'System') }}<br/>
                {{ addButton({mergeClass: 'btn-sm', windowOpen: {route: path('external_assessment_field_edit', {id: 'Add', ea: app.request.get('id')})}})|raw }}
            </div>
        </div>
        {{ form_widget(form.fields) }}
    </div>
{% include 'Default/panelEnd.html.twig' %}
