{% trans_default_domain 'School' %}

{% include 'Default/panelStart.html.twig' with {header: 'school.external_assessment.edit.title', name: form.vars.value.name, transDomain: 'School'} %}

<div class="row">
    <div class="col-5 card">
        {{ form_row(form.name) }}
    </div>
    <div class="col-3 card">
        {{ form_row(form.nameShort) }}
    </div>
    <div class="col-4 card">
        {{ form_row(form.website) }}
    </div>
</div>
<div class="row">
    <div class="col-9 card">
        {{ form_row(form.description) }}
    </div>
    <div class="col-3 card">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.active) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
            {{ form_row(form.allowFileUpload) }}
            </div>
        </div>
    </div>
</div>
{% include 'Default/panelEnd.html.twig' %}
