{% trans_default_domain "School" %}

{% extends "Default/template.html.twig" %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{% set fullPage = true %}
{% set headerOff = true %}

{% block title %}{{ parent() }}{{ 'facility.edit.title'|trans }}{% endblock title %}
{% block headerTitle %}{{ 'facility.edit.title'|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ 'facility.edit.description'|trans }}{% endblock headerLead %}

{% block contentContainer %}
    {{ form_start(form, {'attr': {'id': 'FacilityForm'}}) }}
    {% set h3Content = closeButton() %}
    {% if id != 'Add' %}{% set h3Content = h3Content ~ addButton({'windowOpen': {'route': path('facility_edit', {'id': 'Add'})}}) %}{% endif %}
    {% set h3Content = h3Content ~ resetButton() %}
    {% set h3Content = h3Content ~ saveButton({class: 'btn btn-success fas fa-copy', title: 'facility.edit.duplicate', transDomain: 'School', additional: {id: 'duplicate'}}) %}
    {% set h3Content = h3Content ~ saveButton({additional: {id: 'save'}}) %}
    {% include 'Default/panelStart.html.twig' with {header: 'facility.edit.title', transDomain: 'School'} %}
    <div class=container-fluid">
        <div class="row">
            <div class="col-4 card">
                {{ form_row(form.name) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.type) }}
            </div>
            <div class="col-4 card">
                {{ form_row(form.capacity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 card">
                <div class="row">
                    <div class="col-12 card">
                        {{ form_row(form.phoneExt) }}
                    </div>
                    <div class="col-12 card">
                        {{ form_row(form.phoneInt) }}
                    </div>
                </div>

            </div>
            <div class="col-8 card">
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 card">
                {{ form_row(form.computer) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.projector) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.tv) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.dvd) }}
            </div>
        </div>
        <div class="row">
            <div class="col-3 card">
                {{ form_row(form.hifi) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.speakers) }}
            </div>
            <div class="col-3 card">
                {{ form_row(form.iwb) }}
                {{ form_row(form.duplicateid, {'value': id}) }}
            </div>
            <div class="col-3 card">
                {% if form.studentComputers.vars.value is empty %}
                    {% set value = '0' %}
                {% else %}
                    {% set value = form.studentComputers.vars.value %}
                {% endif %}
                {{ form_row(form.studentComputers, {'value': value}) }}
            </div>
        </div>

        <div class="row">
        </div>
    </div>
    {% include 'Default/panelEnd.html.twig' %}
    {{ form_end(form) }}
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
    {{ toggle_script() }}
    {% include 'Script/monitorForm.html.twig' with {'route': 'facility_edit'} %}
    {% include 'School/facilityScript.html.twig' %}
{% endblock javascripts %}