{% trans_default_domain "School" %}

{% block house_label %}{% endblock %}
{% block house_errors %}{% endblock %}

{% block house_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-3 card">{{ form_widget(form.name) }}</div>
            <div class="col-2 card">{{ form_widget(form.nameShort) }}</div>
            <div class="col-4 card">{{ form_widget(form.logo) }}</div>
            <div class="col-3 card"><div class="collection-actions">{{ saveButton({mergeClass: 'btn-sm'})|raw }}</div></div>
        </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock house_widget %}
