{% trans_default_domain "security" %}

{% include 'Default/panelStart.html.twig' with {header: 'Reset Password', transDomain: 'Security'} %}
{% if error %}
    <div class="row"><div class="col-12">{{ error.messageKey|trans(error.messageData, 'security') }}</div></div>
{% endif %}
<div class="row">
    <div class="col-12 card"><h3 class="text-primary">{{ 'security.password.policy_header'|trans }}</h3><p class="text-primary">{{ 'security.password.policy'|trans(passwordManager.getPasswordSettingStrings) }}</p></div>
</div>
{{ form_start(form) }}
<div class="row">
    <div class="col-6 card">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.currentPassword) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                {{ form_row(form.change) }}
            </div>
        </div>
    </div>
    <div class="col-6 card">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.plainPassword) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% include 'Default/panelEnd.html.twig' %}


